@import "../../../index.scss";

.dogCard {
    height: inherit;
    max-width: 400px;
    min-width: 400px;
    display: flex;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    &:hover{
        top: -5px;
        transition-duration: 0.3s;
    }
    transition-duration: 0.3s;
}

.dogCard__img {
    width: 100%;
    height: auto;
    margin: auto;
}


@media only screen and (max-width: 500px) {
    .dogCard {
        min-width: calc(100vw - 60px);
    }
}
