$base-color: #564D4A;
$body-color: #F7F4F3;
$base-font: #fff;

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $body-color;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

* { 
    color: $base-font;
    font-family: 'Roboto', sans-serif;
}